body{
  background-image: url(https://images.pexels.com/photos/1124960/pexels-photo-1124960.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
#headerNav{
  background-color: rgba(0, 0, 0, 0.384);
  width: 100%;
  height: 7vh;
  position: relative;
  overflow: hidden;
  padding: 4px;
  z-index: 10;
}
.fa-trello{
  color: white;
  margin-left: 5px;
  font-size: 20px;
  margin-top: 10px;
}
#imgLogo{
  bottom: 0;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -30px;
  opacity: .5;
  position: absolute;
  top: 9px;
  width: 80px;
  text-align: center;
}
#imgUser{
  height: 32px;
  width: 32px;
  border-radius: 25em;
  
}
.btnTable{
  transition: .1s ease;
  background: hsla(0,0%,100%,.3);
  border-radius: 3px;
  color: #fff;
  display: block;
  float: left;
  font-weight: 700;
  line-height: 32px;
  margin-right: 4px;
  min-width: 32px;
  padding: 0;
  text-decoration: none;
  border: none;
}
.headerTrello{
  color: white;
  margin-right: 5px;
}
#inputSearch{
  background-color: hsla(0,0%,100%,.3);
  border-radius: 3px;
  border: none;
  color: hsla(0,0%,100%,.5);
  float: left;
  height: 40px;
  margin: 0;
  min-height: 32px;
  padding-right: 32px;
  padding-left: 8px;
  line-height: 19px;
  transition: width .15s;
  width: 210px;
  z-index: 1;
}
.headerSearch{
  margin-left: -24px;
  color: white;
  position: absolute;
  top: 11px;
}
.headerIcon{
  position: absolute;
  top: 4px;
  right: 0;
}
#btnPlus{
  transition: .1s ease;
  background: hsla(0,0%,100%,.3);
  border-radius: 3px;
  color: #fff;
  display: block;
  float: left;
  font-weight: 700;
  line-height: 32px;
  margin-right: 4px;
  min-width: 32px;
  padding: 0;
  text-decoration: none;
  border: none;
  height: 40px;
  width: 40px;
}